
@model int

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order placed successfully</h1>
        Your Order number is: @Model <br /> <br />
        @*<img src="~/images/products/04ad0557-c66b-4a46-8458-bddb24d90918.jpg" width="65%" />*@
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Your Order has been placed successfully
        <br />
    </div>
</div>
